[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BiocBook"]
	path = BiocBook
	url = https://github.com/js2264/biocbook
[submodule "HiCExperiment"]
	path = HiCExperiment
	url = https://github.com/js2264/hicexperiment
[submodule "HiContacts"]
	path = HiContacts
	url = https://github.com/js2264/hicontacts
[submodule "HiCool"]
	path = HiCool
	url = https://github.com/js2264/hicool
[submodule "VplotR"]
	path = VplotR
	url = https://github.com/js2264/vplotr
[submodule "periodicDNA"]
	path = periodicDNA
	url = https://github.com/js2264/periodicdna
[submodule "plyinteractions"]
	path = plyinteractions
	url = https://github.com/js2264/plyinteractions
[submodule "tidyCoverage"]
	path = tidyCoverage
	url = https://github.com/js2264/tidycoverage
