[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HiCExperiment"]
	path = HiCExperiment
	url = https://github.com/js2264/hicexperiment
	shallow = true
	registered = true
[submodule "HiContacts"]
	path = HiContacts
	url = https://github.com/js2264/hicontacts
	shallow = true
	registered = true
[submodule "HiCool"]
	path = HiCool
	url = https://github.com/js2264/hicool
	shallow = true
	registered = true
[submodule "periodicDNA"]
	path = periodicDNA
	url = https://github.com/js2264/periodicdna
	shallow = true
	registered = true
[submodule "VplotR"]
	path = VplotR
	url = https://github.com/js2264/vplotr
	shallow = true
	registered = true
